# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# --- Environments ---
.venv/
venv/
env/
ENV/

# --- Build / Dist ---
build/
dist/
.eggs/

# --- Jupyter / Logs ---
.ipynb_checkpoints/
*.log

# --- OS junk ---
.DS_Store
Thumbs.db

# --- VS Code ---
.vscode/

# --- Cache ---
.cache/

# --- Temp files ---
data/temp/